<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="main.home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Página Inicial
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="cliente.pesquisar">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Cliente
                </a>
            </li>
        </ul>
    </div>
</nav>
