<grid-component tamanho-pc="vm.tamanhoPc" obrigatorio="vm.obrigatorio">
    <label class="control-label" >{{vm.nome}}</label>

    <!--Caso seja text-->
    <input ng-if="vm.tipo != 'textarea' || vm.tipo != 'number'" id="{{vm.identificador}}" ng-disabled="vm.disabilitado" name="{{vm.identificador}}" type="{{vm.tipo}}" class="form-control"
           maxlength="{{vm.tamanhoMaximo}}" minlength="{{vm.tamanhoMinimo}}" ng-model="vm.modelo[vm.identificador]" ng-required="vm.obrigatorio" />

    <!--Caso seja textarea-->
    <textarea ng-if="vm.tipo == 'textarea'" id="{{vm.identificador}}" ng-disabled="vm.disabilitado" name="{{vm.identificador}}"  class="form-control"
              maxlength="{{vm.tamanhoMaximo}}" minlength="{{vm.tamanhoMinimo}}"ng-model="vm.modelo[vm.identificador]" ng-required="vm.obrigatorio"> </textarea>

    <!--Caso seja number-->
    <input ng-if="vm.tipo == 'number'" id="{{vm.identificador}}" ng-disabled="vm.disabilitado" name="{{vm.identificador}}" type="{{vm.tipo}}" class="form-control"
           max="{{vm.tamanhoMaximo}}" min="{{vm.tamanhoMinimo}}" ng-model="vm.modelo[vm.identificador]" ng-required="vm.obrigatorio" />

    <mensagem-component identificador="{{vm.identificador}}"  formulario="vm.formulario"></mensagem-component>
</grid-component>